[submodule "libBLS"]
	path = libBLS
	url = https://github.com/skalenetwork/libBLS.git
	branch = master
[submodule "libjson-rpc-cpp"]
	path = libjson-rpc-cpp
	url = https://github.com/skalenetwork/libjson-rpc-cpp.git
